{% extends "base.html" %} {% block title %}{{ title }}{% endblock %} {% block content %}
<div class="container">
  <section id="landing-welcome-banner" class="py-5">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Popcorn Journal logo" height="100" class="me-2 mb-3" />
        <h2 class="display-6 fw-bold">
          Stop searching,<br />
          start tracking
        </h2>
      </div>
    </div>

    <div class="landing-actions-container mt-4">
      <a href="{{ url_for('main.register') }}" class="btn btn-main me-1"> Create a free account</a>
      <span class="login-prompt text-muted">or <a href="{{ url_for('main.login') }}">log in</a> if you already have an account </span>
    </div>
  </section>

  <hr />

  <section id="landing-about" class="row py-5">
    <div class="col">
      <h2 class="fw-bold">What is Popcorn Journal?</h2>
      <p class="lead text-secondary">
        Popcorn Journal is the ultimate companion for film enthusiasts. Log your latest movie theatre adventures in seconds, manage your watchlist,
        rate your favourites, and keep a digital journal of your personal watchlog.
      </p>
    </div>
  </section>

  <hr />

  <section class="row landing-feature-showcase align-items-center py-5">
    <div class="col-12 col-md-5">
      <img
        src="{{ url_for('static', filename='img/landing-feature-showcase-1.png') }}"
        alt="Popcorn Journal profile library"
        class="img-fluid rounded shadow-sm landing-page-demo"
      />
    </div>
    <div class="col my-auto pl-4">
      <h2 class="fw-bold mt-0">Track your personal cinematic journey</h2>
      <p class="text-secondary">Log all the movies you've watched, are currently binging, and want to see.</p>
    </div>
  </section>

  <hr />

  <section class="row landing-feature-showcase align-items-center py-5">
    <div class="col my-auto">
      <h2 class="fw-bold mt-0">Rate and review</h2>
      <p class="text-secondary">
        Our review journal lets you capture exactly how a film made you feel. Share your takes with the community, or keep them as a private digital
        diary.
      </p>
    </div>
    <div class="col-12 col-md-5 order-first order-md-2">
      <img
        src="{{ url_for('static', filename='img/landing-feature-showcase-2.png') }}"
        alt="Popcorn Journal ratings and reviews"
        class="img-fluid rounded shadow-sm landing-page-demo"
      />
    </div>
  </section>

  <hr />

  <section class="row landing-feature-showcase align-items-center py-5">
    <div class="col-12 col-md-5">
      <img
        src="{{ url_for('static', filename='img/landing-feature-showcase-3.png') }}"
        alt="Popcorn Journal custom lists"
        class="img-fluid rounded shadow-sm landing-page-demo"
      />
    </div>
    <div class="col my-auto">
      <h2 class="fw-bold mt-0">Curate and organise your films with lists</h2>
      <p class="text-secondary">
        Create lists to organise and sort your collection of films exactly how you want. Whether that be "Films Directed by Women" to "Cozy Rainy Day
        Movies", you can search for public lists, share your list with the community, or keep it as a personal, private log.
      </p>
    </div>
  </section>
</div>
{% endblock %}
