{% extends "base.html" %} {% blocktitle %}User Settings{% endblock %} {% block content %}

<div class="container py-5">
  <h1 class="fw-bold mb-4">User Settings</h1>
  <p class="text-secondary mb-4">
    Manage your account details, preferences, and privacy settings.
  </p>

  <div class="card border-0 shadow-sm mb-4">
    <div class="card-body">
      <h5 class="fw-bold mb-3">Account Information</h5>
        <form>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input
                type="text"
                class="form-control"
                id="username"   
                />
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input
                type="email"
                class="form-control"
                id="email"
                placeholder="{{ user.email }}"
                />
            </div>
            
            <button type="submit" class="btn btn-main">Save Changes</button>
        </form>
    </div>
  </div>
</div>

{% endblock%}