{% extends "base.html" %} {% block content %}

<div class="container">
  <div class="row" id="landing-welcome-banner">
    <div class="container py-5">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <img
            src="{{ url_for('static', filename='img/logo.png') }}"
            alt="Popcorn Journal logo"
            height="100"
            class="me-2 mb-2"
          />
          <h2>
            Stop searching,<br />
            start tracking
          </h2>
        </div>
      </div>

      <div class="landing-actions-container">
        <a href="{{ url_for('main.register') }}" class="btn btn-main"
          >Create a free account</a
        >
        <span class="login-prompt"
          >or <a href="{{ url_for('main.login') }}">log in</a> if you have an
          account</span
        >
      </div>
    </div>
  </div>

  <div class="row" id="landing-about">
    <div class="col">
      <h2 class="fw-bold">What is Popcorn Journal?</h2>
      <p class="lead text-secondary">
        Popcorn Journal is the ultimate companion for film enthusiasts. Log your
        latest movie theatre adventures in seconds. Manage your watchlist, rate
        your favourites, and keep a digital journal of your personal watchlog.
      </p>
    </div>
  </div>

  <div class="row landing-feature-showcase">
    <div class="col-12 col-md-7">
      <img
        src="https://plus.unsplash.com/premium_photo-1677651866184-9845765dfd37?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Popcorn Journal profile library"
        class="img-fluid rounded shadow-sm landing-page-demo"
      />
    </div>
    <div class="col my-auto ps-4">
      <h2 class="fw-bold">Track your personal cinematic journey</h2>
      <p class="text-secondary">
        Log all the movies you've watched, are currently binging, and want to
        see.
      </p>
    </div>
  </div>

  <!-- Feature 2 -->
  <div class="row landing-feature-showcase">
    <div class="col my-auto">
      <h2 class="fw-bold">Rate and review</h2>
      <p class="text-secondary">
        Our review journal lets you capture exactly how a film made you feel.
        Share your takes with the community, or keep them as a private digital
        diary.
      </p>
    </div>
    <div class="col-12 col-md-7 order-first order-md-2">
      <img
        src="https://images.unsplash.com/photo-1598899134739-24c46f58b8c0?q=80&w=2056&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Popcorn Journal page showing ratings and reviews"
        class="img-fluid rounded shadow-sm landing-page-demo"
      />
    </div>
  </div>

  <!-- Feature 3 -->
  <div class="row landing-feature-showcase">
    <div class="col-12 col-md-7">
      <img
        src="https://plus.unsplash.com/premium_photo-1710522706751-c2f0c76cc5fd?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="Popcorn Journal page with custom lists"
        class="img-fluid rounded shadow-sm landing-page-demo"
      />
    </div>
    <div class="col my-auto">
      <h2 class="fw-bold">Curate and organise your films with lists</h2>
      <p class="text-secondary">
        Create lists to organise and sort your collection of films exactly how
        you want. Whether that be "Films Directed by Women" to "Cozy Rainy Day
        Movies", you can search for public lists, share your list with the
        community, or keep it as a personal, private log.
      </p>
    </div>
  </div>
</div>
{% endblock %}
