<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    </head>
    <body>
            <h2>My Profile</h2> // learn how to code in user's name here

        <h4> About Me </h4>
        <p> User's desired description will go here, otherwise empty.</p>
        <button> Edit </button>
        
            /* 
            edit will allow use to change description, two buttons will appear;
            save and cancel. Cancel will stop editing and maintain original description
            while save will overwrite the description with the new one.
            */

        <h4> My Favourite Movies </h4>
        <p> an editable list of 4 movies will go here.</p>

        <h4> My Favourite TV Shows </h4>
        <p> an editable list of 4 TV shows will go here.</p>

        <h5> My Lists </h5> // LINK will take user to a page with all of their lists, and the option to create new ones.

        <h5> My Reviews </h5> // LINK will take user to a page with all of their reviews, and the option to create new ones.

        <h5> My Ratings </h5> // LINK will take user to a page with all of their ratings, and the option to create new ones. 
            
        <h5> My Watchlist </h5> // LINK will take user to a page with all of their watchlist items, and the option to add/remove.

        <h5> My Likes </h5> // LINK will take user to a page with all of their liked reviews, movies, shows.
    
</body>
</html>