{% extends "base.html" %}

{% block title %}Search - Popcorn Journal{% endblock %}

{% block content %}
<div class="container">

  <!-- Title -->
  <div class="row justify-content-center text-center mt-4">
    <div class="col-md-8">
      <h2 class="fw-bold">Search Movies</h2>
      <p class="text-secondary">Find and explore your favourite films.</p>
    </div>
  </div>

  <!-- Search box -->
  <div class="row justify-content-center mb-5">
    <div class="col-12 col-md-10 col-lg-8 col-xl-7">
      <div id="login-card" class="p-4 shadow-sm">
        <form action="{{ url_for('main.search') }}" method="GET">
          <label for="movie-search" class="form-label">Movie title</label>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              id="movie-search"
              name="query"
              placeholder="Type a movie title..."
              required
            />
            <button type="submit" class="btn btn-main px-4">
              Search
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Results -->
  <h4 class="mb-4 fw-bold">Results</h4>

  <div id="movie-results" class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4"></div>

</div>

<!--js-->
<script>
function createMovieCard(title) {
  const card = document.createElement("div");
  card.className = "col";

  card.innerHTML = `
    <div class="card p-3">
      <h5>${title}</h5>
      <button class="btn btn-main btn-sm add-btn">+ Watchlist</button>
    </div>
  `;

  // button
  card.querySelector(".add-btn").addEventListener("click", function () {
    let watchlist = JSON.parse(localStorage.getItem("watchlist")) || [];

    if (!watchlist.includes(title)) {
      watchlist.push(title);
      localStorage.setItem("watchlist", JSON.stringify(watchlist));

      this.textContent = "✓ Added";
      this.disabled = true;
    }
  });

  document.getElementById("movie-results").appendChild(card);
}

// test data
createMovieCard("Interstellar");
createMovieCard("Inception");
</script>

{% endblock %}